.loginPage {
    background: url('Images/login.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginForm {
    background-color: rgba(1,32,93, 0.6);
    color: white
}